<div class="layout" id="general" ng-controller="issueController">
<h2>Issues</h2>
  <table class="table vehicles-list table-hover">
    <thead>
      <tr>
        <th>
          <a>Issues
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>Vehicle Number
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>On</a>
        </th>
        <th>
          <a>Schedule</a>
        </th>
        <th>
          <a>Action</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues" ng-class="{'p0': p0.indexOf(issue.issue_code) > -1, 'p1': p1.indexOf(issue.issue_code) > -1}">
        <td class="issue-desc">{{issue.issue_description}}</td>
        <td>{{issue.vehicle_number}}</td>
        <td>{{issue.issue_date}}</td>
        <td><a class="check-vehicle" href="" ng-click="scheduleDetails(issue)" data-toggle="modal" data-target="#schedule">Schedule It</a></td>
        <td>
          <a class="action-btns" href="" title="Delete Vehicle" ng-click="removeIssue(issue.vehicle_id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" ng-if="issues.length == 0">No records found</div>
  <%= render "partials/issue_schedule" %>
</div>