<div class="modal fade" tabindex="-1" role="dialog" id="notify" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Send Notifications</h4>
      </div>
      <div class="modal-body">
        <div class="schedule-form">
          <ul class="nav nav-tabs" ng-init="notification.notification_type = 'email'">
            <li class="active"><a data-toggle="tab" href="#email" ng-click="notification.notification_type= 'email'">Email</a></li>
            <li><a data-toggle="tab" href="#sms" ng-click="notification.notification_type= 'sms'">SMS</a></li>
          </ul>
          <div class="tab-content">
            <div id="email" class="tab-pane fade in active">
              <h3>Email</h3>
              <form>
               <ul class="list-unstyled">
                <li>
                  <label>To</label>
                  <div class="multi-drop" ng-dropdown-multiselect="" options="companyNames" selected-model="notification.selected_names" extra-settings="notificationSettings" translation-texts="notificationTexts"></div>
                </li>
                <li>
                  <label>Message Type</label>
                  <select name="message_type" ng-model="notification.message_type">
                    <option value="Marketing">Marketing</option>
                    <option value="Transactional">Transactional</option>
                  </select>
                </li>
                <li>
                  <label>Body Content</label>
                  <textarea name="description" ng-model="notification.body_content"> </textarea>
                </li>
                <li class="prelative">
                  <label>&nbsp;</label>
                  <input class="action-btn" type="button" value="Send" ng-click="sendNotifications(notification)" >
                  <span class="send-notify fa fa-spin" ng-class="{'fa-spinner' : sending }"> </span>
                </li>
              </ul>
            </form>
          </div>
          <div id="sms" class="tab-pane fade">
            <h3>SMS</h3>
              <form>
               <ul class="list-unstyled">
                <li>
                  <label>To</label>
                  <div class="multi-drop" ng-dropdown-multiselect="" options="companyNames" selected-model="notification.selected_names" extra-settings="notificationSettings" translation-texts="notificationTexts"></div>
                </li>
                <li>
                  <label>Message Type</label>
                  <select name="message_type" ng-model="notification.message_type">
                    <option value="Marketing">Marketing</option>
                    <option value="Transactional">Transactional</option>
                  </select>
                </li>
                <li>
                  <label>Body Content</label>
                  <textarea name="description" ng-model="notification.body_content"> </textarea>
                </li>
                <li class="prelative">
                  <label>&nbsp;</label>
                  <input class="action-btn" type="button" value="Send" ng-click="sendNotifications(notification)" >
                  <span class="send-notify fa fa-spin" ng-class="{'fa-spinner' : sending }"> </span>
                </li>
              </ul>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->