<div ng-controller="notificationController" ng-init="modal" ng-cloak>
  <div class="layout" id="general">
    <div ng-hide="notifications == undefined || notifications.length == 0">
      <h1>Notifications list</h1>
      <div class="row">
        <!--Search box-->
        <form action="" class="col-md-6 no-padding">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-search"></span></div>
              <input type="text" class="mr15" placeholder="Search Notifications..." ng-model="searchText"/>
            </div>
          </div>
        </form>
        <div class="col-md-6 text-right">
          <a data-toggle="modal" data-target="#notify" class="action-btn"><i class="fa fa-plus"></i> Send Notifications</a>
        </div>
      </div>
      <table class="table vehicles-list table-hover">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              <a>Customers</a>
            </th>
            <th>
              <a>Notifications Type
                <span class="fa fa-caret-down" ng-click="sortType = 'notification_type'"></span>
                <span class="fa fa-caret-up" ng-click="sortType = '-notification_type'"></span>
              </a>
            </th>
            <th>
              <a>Message Type
                <span class="fa fa-caret-down" ng-click="sortType = 'message_type'"></span>
                <span class="fa fa-caret-up" ng-click="sortType = '-message_type'"></span>
              </a>
            </th>

            <th>
              <a>Body Content
                <span class="fa fa-caret-down" ng-click="sortType = 'body_content'"></span>
                <span class="fa fa-caret-up" ng-click="sortType = '-body_content'"></span>
              </a>
            </th>
            <th>
              <a>Actions</a>
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="notification in notifications | filter: searchText | orderBy : sortType">
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{notification.selected_names}}</td>
            <td>{{notification.notification_type}}</td>
            <td>{{notification.message_type}}</td>
            <td>{{notification.body_content}}</td>
            <td>
              <a class="action-btns" title="Delete Notification" ng-click="">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="notifications == undefined || notifications.length == 0">
      <div class="new-cm">
        <h1>Send Notifications</h1>
        <a data-toggle="modal" data-target="#notify" value="Send Notifications" class="action-btn"><i class="fa fa-plus"></i> Send Notifications</a>
      </div>
    </div>
  </div>
   <%= render "partials/notification_form" %>
   <div ng-if="success">
    <p class="alert alert-success" ng-show="notification_type == 'email'">Email has been successfully send to {{customerCount}} customers</p>
    <p class="alert alert-success" ng-show="notification_type == 'sms'">SMS has been successfully send to {{customerCount}} customers</p>
  </div>
</div>
