<div class="layout" id="general" ng-controller="scheduleController">
  <h2>Scheduled Vehicles</h2>
  <div class="row top-search">
    <div class="col-md-12 pad-zero">
      <form action="" class="col-md-6 pad-zero">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search"></span></div>
            <input type="text" placeholder="Search vehicles..." />
          </div>
        </div>
      </form>
      <div class="col-md-6 text-right">
        <a href="#" class="action-btn" data-toggle="modal" data-target="#schedule"><i class="fa fa-plus"></i> Schedule</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="scheduled">
    <div class="col-sm-4" ng-repeat="schedule in schedules">
      <div class="scheduled-list">
        <div class="date">{{schedule.scheduled_date | date:'MMM'}} <span>{{schedule.scheduled_date | date:'dd'}}</span></div>
        <div class="schedule-details">
          <ul class="list-unstyled details">
            <li class="name">{{schedule.vehicle_name}}</li>
            <li>{{schedule.vehicle_type}}</li>
            <li class="desc">{{schedule.scheduling_details}}</li>
            <li class="desc" data-toggle="modal" data-target="#schedule" ng-click="getSchedule(schedule._id)">Edit</li>
            <li class="desc" ng-click="removeSchedule(schedule._id)">Delete</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
</div>
<%= render "partials/schedule_form" %>
</div>