<div class="layout">
  <div class="row">
    <div class="col-md-12">
    <form action="" class="col-md-6 no-padding">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="fa fa-search"></span></div>
          <input type="text" placeholder="Search vehicles..." />
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
      <div>
        <p>Vehicle name: Honda TR-1 (2015 | Truck011NR)</p>
        <p>Vehicle Type: Washing</p>
        <p>Details: Descrption details about schedule</p>
        <p>Schedule From : 12/10/2016</p>
        <p>Schedule To : 14/10/2016</p>
      </div>
    </div>
  </div>
</div>