<div class="layout" id="general" ng-controller="scheduleController">
  <h2>Scheduled Vehicles</h2>
  <div class="row top-search">
    <div class="col-md-12 pad-zero">
      <form action="" class="col-md-6 pad-zero">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search"></span></div>
            <input type="date" placeholder="Search vehicles..." ng-model="filterDate" ng-change="dateFilter()"/>
          </div>
        </div>
      </form>
      <div class="col-md-6 text-right">
        <a href="/schedules/calendar" class="view-toggle"><i class="fa fa-calendar"></i> View</a>
        <a href="#" class="action-btn" data-toggle="modal" data-target="#schedule"><i class="fa fa-plus"></i> Schedule</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="scheduled">
    <div class="col-sm-4" ng-repeat="schedule in schedules | filter: {s_date: fDate}">
      <div class="scheduled-list">
        <div class="date">{{schedule.scheduled_date | date:'MMM'}} <span>{{schedule.scheduled_date | date:'dd'}}</span></div>
        <div class="schedule-details">
          <ul class="list-unstyled details">
            <li class="name">{{schedule.vehicle_name}}</li>
            <li>{{schedule.vehicle_type}}</li>
            <li class="desc">{{schedule.scheduling_details}}</li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="options top">
          <ul class="list-inline">
            <li title="View issues"  ng-click="viewIssues(schedule._id)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></li>
            <li title="Edit the schedule" data-toggle="modal" data-target="#schedule" ng-click="getSchedule(schedule._id)"><i class="fa fa-edit"></i></li>
            <li title="Delete the schedule" ng-click="removeSchedule(schedule._id)"><i class="fa fa-trash"></i></li>
            <li title="Complete the schedule" ng-click="completeSchedule(schedule._id)"><i class="fa fa-check" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<%= render "partials/schedule_form" %>
</div>