<div class="layout" id="Dashboard">
  <div class="top-blocks">
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Customers</h3>
        <ul class="list-inline info">
          <li><img src="/assets/users.png" alt=""></li>
          <% if @customers.present? %>
          <li class="count"><%= @customers.count %></li>
          <% else %>
          <li class="count">70</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Vehicles</h3>
        <ul class="list-inline info">
          <li><img src="/assets/truck.png" alt=""></li>
          <% if @vehicles.present? %>
          <li class="count"><%= @vehicles.count %></li>
          <% else %>
          <li class="count">795</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Schedule Vehicles</h3>
        <ul class="list-inline info">
          <li><img src="/assets/calendar.png" alt=""></li>
          <% if @schedules.present? %>
          <li class="count"><%= @schedules.count %></li>
          <% else %>
          <li class="count">345</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Issues</h3>
        <ul class="list-inline info">
          <li><img src="/assets/issue.png" alt=""></li>
          <% if @issues.present? %>
          <li class="count"><%= @issues.count %></li>
          <% else %>
          <li class="count">95</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <script
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDZfwCrdzh9SMuKjw-QIyqIZ6PTLFS9iYY">
  </script>
  <div>
    <div id="map">
    </div>
    <script>
      var colors = ['#002200','#AABBFF','#55BADC','#CCADAC']
      var path = [
      {lat: 37.3541, lng: -121.9552},
      {lat: 37.2358, lng: -121.9624},
      {lat: 37.3861, lng: -122.0839},
      {lat: 37.3382, lng: -121.8863}    
      ];
      var dest_path = {lat: 37.3230,lng: -122.0322}
      function calcRoute(from, to, color) {
        var request = {
          origin: from,
          destination: to,
          travelMode: 'DRIVING'
        };
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
            direction = response.routes[0].overview_path
            direction_path = []
            for(i in direction){
              direction_path.push({lat:direction[i].lat(),lng:direction[i].lng()})
            }
            var lineSymbol = {
              path: 'M 2.00,13.00 C 2.00,10.81 1.74,4.10 2.57,2.43 3.77,0.05 6.70,0.08 9.00,0.02 11.45,-0.06 16.34,-0.32 18.01,1.74 19.25,3.28 19.00,7.06 19.00,9.00 19.00,9.00 19.00,39.00 19.00,39.00 11.47,37.65 9.53,37.65 2.00,39.00 2.00,39.00 2.00,13.00 2.00,13.00 Z M 17.00,12.00 C 17.00,12.00 4.00,12.00 4.00,12.00 4.00,12.00 4.00,37.00 4.00,37.00 4.00,37.00 8.00,37.00 8.00,37.00 8.00,37.00 8.00,13.00 8.00,13.00 8.00,13.00 13.00,13.00 13.00,13.00 13.00,13.00 13.00,37.00 13.00,37.00 13.00,37.00 17.00,37.00 17.00,37.00 17.00,37.00 17.00,12.00 17.00,12.00 Z M 6.00,2.00 C 6.00,2.00 15.00,2.00 15.00,2.00 11.70,0.69 9.30,0.69 6.00,2.00 Z M 15.00,4.00 C 15.00,4.00 6.00,4.00 6.00,4.00 6.00,4.00 6.00,8.00 6.00,8.00 6.00,8.00 15.00,8.00 15.00,8.00 15.00,8.00 15.00,4.00 15.00,4.00 Z M 6.00,11.00 C 6.00,11.00 15.00,11.00 15.00,11.00 11.70,9.69 9.30,9.69 6.00,11.00 Z',
              fillColor: 'black',
              fillOpacity: 0.8,
              scale: 0.6,
              strokeColor: 'black',
              strokeWeight: 0.5
    
            };
            var line = new google.maps.Polyline({
              path: direction_path,
              strokeColor: color,
              icons: [{
                icon: lineSymbol,
                offset: '100%'
              }],
              map: map
            });
            animateCircle(line);
          }
        });
      }
      function animateCircle(line) {
        var count = 0;
        window.setInterval(function() {
          count = (count + 1) % 200;
    
          var icons = line.get('icons');
          icons[0].offset = (count / 2) + '%';
          line.set('icons', icons);
        }, 1000);
      }
    
      var markers = [];
      var map;
      var directionsService;
      map_center = getCenter(path)
      function initMap() {
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: map_center
        });
        
    for(p in path){
      calcRoute(path[p],dest_path,colors[p])
    }
    }
    
    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }
    
    function getCenter(list){
    
      if(list.length==1){
        return list[0];
      }
    
      var x = 0;
      var y = 0;
      var z = 0;
    
      for (geoCoordinate in list)
      {
        var latitude = list[0].lat * Math.PI / 180;
        var longitude = list[0].lng * Math.PI / 180;
        
        x += Math.cos(latitude) * Math.cos(longitude);
        y += Math.cos(latitude) * Math.sin(longitude);
        z += Math.sin(latitude);
      }
    
      var total = list.length;
    
      x = x / total;
      y = y / total;
      z = z / total;
    
      var centralLongitude = Math.atan2(y, x);
      var centralSquareRoot = Math.sqrt(x * x + y * y);
      var centralLatitude = Math.atan2(z, centralSquareRoot);
    
      return({'lat':centralLatitude * 180 / Math.PI,'lng':centralLongitude * 180 / Math.PI});
    }
    </script>

  </div>
</div><!--/layout-->
<script>
$(document).ready(function(){
  initMap()
})
</script>