<div class="layout" id="Dashboard">
  <div class="top-blocks">
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Vehicles</h3>
        <ul class="list-inline info">
          <li><img src="/assets/truck.png" alt=""></li>
          <li class="count">12345</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Schedule Vehicles</h3>
        <ul class="list-inline info">
          <li><img src="/assets/calendar.png" alt=""></li>
          <li class="count">12345</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Issues</h3>
        <ul class="list-inline info">
          <li><img src="/assets/issue.png" alt=""></li>
          <li class="count">12345</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="blocks">
        <h3>Revenue</h3>
        <ul class="list-inline info">
          <li><img src="/assets/dollar.png" alt=""></li>
          <li class="count">12345</li>
        </ul>
      </div>
    </div>
  </div>
</div><!--/layout-->