 <div class="layout" id="general">
  <div class="mainHeading">
    <h2>Vehicle Name Make year</h2>
  </div>
  <div class="col-sm-6 pad-lzero">
   <ul class="list-unstyled vehicle-details">
     <li><label>Vehicle Registration Number</label> : </li>
     <li><label>Vin Number</label> : </li>
     <li><label>Fuel Tank Capacity</label> : </li>
     <li><label>Fuel Type</label> : </li>
     <li><label>Initial Odometer Reading</label> : asdas</li>
     <li><label>Current Odometer Reading</label> : </li>
     <li><label>Added On</label> : </li>
   </ul>
  </div>
  <div class="col-sm-6 pad-rzero">
    
  </div>
  <div class="clearfix"></div>
</div><!--/layout-->
               