<div class="layout" id="general">
  <h1>Vehicles list</h1>
  <div class="row">
    <!--Search box-->
    <form action="" class="col-md-6 no-padding">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="fa fa-search"></span></div>
          <input type="text" placeholder="Search vehicles..." />
        </div>
      </div>
    </form>
    <div class="col-md-6 text-right">
      <a href="/vehicles/new" class="action-btn"><i class="fa fa-plus"></i> New Vehicle</a>
    </div>
  </div>
  <table class="table vehicles-list table-hover">
    <thead>
      <tr>
        <th>
          <a>Vehicle Type
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>Vehicle Number
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>VIN Number
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>
            Make, Model (Year)
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>Fuel Capacity
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>

        <th>
          <a>Fuel Tank Type
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Truck</td>
        <td>12AA00G5</td>
        <td>1234567890098</td>
        <td>Toyata,2015</td>
        <td>120ltr</td>
        <td>Attached</td>
        <td>
          <a class="action-btns" href="" title="Vehicle Details"><i class="fa fa-info" aria-hidden="true"></i></a>
          <a class="action-btns" href="" title="Delete Vehicle"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      <tr>
        <td>Truck</td>
        <td>12AA00G5</td>
        <td>1234567890098</td>
        <td>Toyata,2015</td>
        <td>120ltr</td>
        <td>Attached</td>
        <td>
          <a class="action-btns" href="" title="Vehicle Details"><i class="fa fa-info" aria-hidden="true"></i></a>
          <a class="action-btns" href="" title="Delete Vehicle"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>