<div class="layout" id="general">
<h2>Issues</h2>
  <table class="table vehicles-list table-hover">
    <thead>
      <tr>
        <th>
          <a>Issues
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>Vehicle Number
            <span class="fa fa-caret-down"></span>
            <span class="fa fa-caret-up" ></span>
          </a>
        </th>
        <th>
          <a>On</a>
        </th>
        <th>
          &nbsp;
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="issue-desc">asdas asdda sdas dasd  asd asd as asd asdasdasdasdas asd asd asdasdasdas asd asd asd asd</td>
        <td>12AA00G5</td>
        <td>12,Oct,2015</td>
        <td><a class="check-vehicle" href="">Check Vehicle</a></td>
        <td>
          <a class="action-btns" href="" title="Delete Vehicle"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      <tr>
        <td class="issue-desc">asdas asdda sdas dasd  asd asd as asd asdasdasdasdas asd asd asdasdasdas asd asd asd asd</td>
        <td>12AA00G5</td>
        <td>12,Oct,2015</td>
        <td><a class="check-vehicle" href="">Check Vehicle</a></td>
        <td>
          <a class="action-btns" href="" title="Delete Vehicle"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>