<div class="layout" id="general" ng-controller="company" ng-init="modal" ng-cloak>
    <div ng-if="companies.length>0">
        <h1>Companies</h1>
        <div class="row top-search" >
            <div class="col-md-12 pad-zero">
              <form action="" class="col-md-6 pad-zero">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                    <input type="text" placeholder="Search Customers..." ng-model="searchText"/>
                  </div>
                </div>
              </form>
              <div class="col-md-6 text-right">
                <a data-toggle="modal" data-target="#company" class="action-btn" value="Add company" ng-click="modal='create'"/><i class="fa fa-plus"></i> Company</a>
              </div>   
              <div class="clearfix"></div>
            </div>
        </div>

        <table class="table table-hover vehicles-list" >
          <thead>
              <tr>
                <th>
                  #
                  <!-- <a>#
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up" ></span>
                  </a> -->
                </th>
                <th>
                  <a>Name
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up" ></span>
                  </a>
                </th>
                <th>
                  <a>Contact
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up" ></span>
                  </a>
                </th>
                <th>
                  <a>Address
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up" ></span>
                  </a>
                </th>
                <th>Actions</th> 
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="company in companies | filter:searchText">
                <td>{{$index+1}}</td>
                <td>{{company.name}}</td>
                <td>{{company.contact_number}}</td>
                <td>{{company.address}}</td>
                <td class="action-icon">
                  <a ng-click="modal='edit';editCompany(companies[$index]);"><i class="fa fa-edit"></i></a>
                  <a ng-click="readyToDelete(companies[$index])"><i class="fa fa-trash"></i></a>
                </td> 
            </tr>
            </tbody>
        </table>
    </div> 
    <div ng-if="companies.length==0">
        <div class="new-cm">
          <h1>Please add a company</h1>
          <a data-toggle="modal" data-target="#company" class="action-btn" value="Add company" ng-click="modal='create'"/><i class="fa fa-plus"></i> Company</a>
        </div>
    </div>
    <%= render "partials/company_form" %>
    <%= render "partials/delete_modal" %>
</div>
