/*Nav Bar CSS*/
body {
  font-family: 'ProximaNovaRegular', Helvetica,Arial,sans-serif;
  font-size: 14px;
}
input[type="text"],textarea,select,input[type="date"],input[type="email"],input[type="password"] {
  outline: none;
  height: 32px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pad-lzero{
  padding-left: 0!important
}
.pad-rzero{
  padding-right: 0!important
}
.pad-zero{
  padding: 0!important
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
} 

.details-company {
  border: 1px #3c763d solid;
  width: 200px;
  padding: 10px;
  margin: 10px 0px;
  background: rgba(0, 128, 0, 0.17);
}

.details-company span {
  color: #ff4c00;
}

.check-vehicle-scheduled {
  background: transparent !important;
  border: 0px !important;
  color: green !important;
  padding-left: 10px;
}

/*Loginpage*/
.login-bk {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('/assets/login-bk.jpg') no-repeat center center;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
}
.white-box{
  position: relative;
  width: 400px;
  margin: 10% auto 0;
  background: #fff;
  padding: 20px;
  border-top: 5px solid #3C8DBC;
}
.white-box input[type="text"],.white-box input[type="password"],.white-box input[type="submit"],.white-box input[type="button"]{
  width: 100%;
  height: 37px;
}
.white-box .fa-mobile {
  font-size: 23px;
}
.white-box .fa-map-marker,.white-box .fa-lock {
  font-size: 20px;
}
.input-group {
  width: 100%;
}
.input-group-addon {
  height: 37px;
  width: 38px;
  color: rgba(0,0,0,.4);
}

.white-box  h2{
  margin: 0 0 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.white-box input[type="submit"],.white-box input[type="button"] {
  border: none;
  color: #fff;
  font-size: 18px;
  background: #000;
  outline: none;
  background: #3c8dbc;
}
.remember-me {
  margin: 0 0 15px;
}
.direction-link {
  margin: 15px 0 0;
  font-size: 13px;
  font-weight: bold;
}
/*--top-nav--*/
.top-bar{
  height: 40px;
  background-color: #3c8dbc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
}
.logo {
  float: left;
  background-color: #231F20;
  color: #fff;
  width: 200px;
  height: 40px;
  /* font-size: 30px; */
  padding: 3px 18px;
}
.logo img{
  height: 35px;
}
.logo  a {
  color: #fff;
  text-decoration: none;
}
.right-nav {
  margin: 0 10px 0 0;
}
.right-nav .avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.notify a {
  font-size: 16px;
  position: relative;
  top: 5px;
}
.notify ul h4 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color: #666;
}
.notify ul{
  left: -190px!important;
  top:32px!important;
}
.notify ul.dropdown-menu:before{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.notify ul p {
  font-size: 12px;
  line-height: 21px;
  margin: 0;
}
.notify ul li {
  padding: 5px;
  border-bottom: 1px solid #d9d9d9;
}
.notify ul li:hover{
  background-color: #f5f5f5;
}
.right-nav .avatar {
  padding: 4px 0 0;
  display: inline-block;
}
.right-nav  a {
  text-decoration: none;
  color: #fff;
}
.right-nav  .name {
  position: relative;
  padding-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  max-width: 100px;
  top: 10px;
}
.dropdown-menu.extended {
  max-width: 300px !important;
  min-width: 160px !important;
  top: 42px;
  width: 235px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  left: -90px;
}
.dropdown-menu.extended li a {
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
  border: none!important;
  border-bottom: 1px solid #EBEBEB !important;
  font-size: 12px;
  list-style: none;
}
.extended i {
  margin: 0 5px 0 0;
}
.badge {
  padding: 4px 7px;
  position: relative;
  left: -7px;
  top: -7px;
}
/*--side-nav--*/
.side-nav {
  position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  background: #222d32;
  width: 200px;
  letter-spacing: .3px;
  overflow: auto;
  border-right: 1px solid #c7c6c7;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.3s;
  -webkit-transition: all all ease-in 0.5s ease-out;
  -moz-transition: all all ease-in 0.5s ease-out;
  -o-transition: all all ease-in 0.5s ease-out;
  transition: all all ease-in 0.5s ease-out;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #b8c7ce;
}
.menu i {
  margin: 0 7px;
  opacity: 0.6;
  font-size: 18px;
}
.menu a:hover,.menu a:focus {
  color: #fff;
  background: #1e282c;
}
.footer-side-nav{
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.13);
  position: fixed;
  width: 200px;
  bottom: 0;
  padding: 5px 10px; 
  text-align: center;
}
.footer-side-nav ul {
  margin: 0;
}
.footer-side-nav a {
  display: inline-block;
  padding: 5px 10px;
  color: #666;
}
.footer-side-nav i {
  font-size: 18px;
  margin: 0 5px;
}
.footer-side-nav a:hover {
  color: #fff;
  trasnsition: all 0.3s ease-in-out;
}

/*Warpperlayout*/
.wrapper {
  margin: 40px 0 0 200px;
  min-height: 90vh;
}
#Dashboard {
  padding: 20px;
}
#Dashboard .blocks {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}
#Dashboard .blocks h3 {
  margin: 0px 0px 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'ProximaNovaBold',sans-serif;
}
#Dashboard  .info li{
  width: 48%;
}
#Dashboard  .info .count {
  font-size: 36px;
  color: #686868;
  position: relative;
  top: 10px;
}
#Dashboard .info {
  padding: 15px 0 0;
}
#general{
  padding: 20px;
}
#general .input-group-addon {
  width: auto;
  height: auto;
}
#general .input-group {
  width: auto;
}
#general h1,#general h2 {
  margin: 0 0 20px;
  font-size: 21px;
  font-weight: 600;
  color: #666;
}
#vehicle .vehicle-add label,#general .company-form label,#vehicle label{
  display: block;
  color: #666;
}
#vehicle .vehicle-add li,#general .company-form li {
  padding: 0 0 10px;
}
#vehicle .vehicle-add li input[type="text"],#vehicle .vehicle-add li select,#general .company-form input[type="text"]{
  width: 100%;
  border: 1px solid #d9d9d9;
}
.action-btn,.action-btn:hover ,.action-btn:focus{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background-color: #FF4C00;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.action-btn:hover {
  background: #DE4A00;
}
.new-cm .action-icon{

}
.action-icon a {
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.46);
  padding: 3px 7px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  color: #fff!important;
}
/*vehicle details page*/
.vehicle-details li {
  padding: 0 0 15px;
}
.vehicle-details label {
  font-size: 15px;
  color: #666;
  font-weight: 400;
  width: 190px;
}
.vehicles-list th {
  background: #eee;
  position: relative;
}
.vehicles-list {
  border: 1px solid #d9d9d9;
}
.vehicles-list a{
  text-decoration: none;
  color: #666;
}
.vehicles-list .fa-caret-down ,.vehicles-list .fa-caret-up{
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.vehicles-list .fa-caret-up{
  top: 7px;
}
.vehicles-list .fa-caret-down{
  top: 16px;
}
.vehicles-list td {
  vertical-align: middle!important;
}
.action-btns {
  color: rgba(102, 102, 102, 0.62)!important;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
}

.action-btns:hover{
  color: rgba(102, 102, 102, 1)!important;
}
.p0 .action-btns,.p0 .action-btns:hover,.p0 .check-vehicle  {
  color: #a94442!important;
}
.p1 .action-btns,.p1 .action-btns:hover,.p1 .check-vehicle{
  color: #8a6d3b!important;
}

.issue-desc {
  width: 45%;
}
.check-vehicle {
  background: #eee;
  padding: 3px 10px;
  border: 1px solid #d9d9d9;
}
.check-vehicle:hover {
  background: #fff;
}

/*schedule lists*/
.scheduled-list{
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  margin: 0 0 20px;
}
.scheduled-list .date {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  width: 20%;
  padding: 33px 0;
  background: #222D32;
  color: #fff;
  float: left;
  height: 120px;
}
.scheduled-list .date span {
  display: block;
}
.schedule-details {
  padding: 5px;
  width: 75%;
  float: left;
}
.schedule-details .name {
  font-size: 14px;
  font-weight: 600;
}
.schedule-details li {
  padding: 0 0 5px;
}
.schedule-details .details {
  margin: 0;
}
.schedule-details li.desc{
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.options {
  /*display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.48);
  bottom: 0;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.top{
  top: 100%;
}
.options ul {
  top: 38px;
  position: relative;
  margin: 0 auto;
  width: 180px;
}
.options li {
  cursor: pointer;
  font-size: 18px;
  background-color: #fff;
  color: #666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.options li i {
  font-size: 21px;
  padding: 9px 5px;
}
.options li:hover {
  background: #aaa;
  color: #fff;
}
.scheduled-list:hover .options {
  display: block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  top: 0;
}
.top-search {
  margin: 0 0 20px;
  border-bottom: 1px solid #c3c4ff;
}
.top-search .form-group {
  margin: 0 0 5px!important;
}
.schedule-form li {
  padding: 0 0 8px;
}
.schedule-form label {
  width: 140px;
}
.schedule-form  textarea {
  width: 320px;
  height: 90px;
}
.view-toggle {
  background-color: #eee;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  color: #666;
  text-decoration: none!important;
}
.customer-list th {
  background: #eee;
}
.modal-dialog {
  z-index: 99999;
}
.new-cm {
  padding: 40px;
  text-align: center;
  width: 300px;
  margin: 10% auto 0;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
}
.new-cm a {
  text-decoration: none;
  margin: 15px 0 0;
  display: inline-block;
}
.new-cm h1 {
  margin: 0!important;
}
.p0 {
  background: #f2dede;
  color: #a94442;
}
.p1 {
  background: #fcf8e3;
  color: #8a6d3b;
}
#schedule select,#schedule input[type="date"] {
  width: 35%;
}


.ui-autocomplete{
  z-index: 10000
}

.fc-day-grid-event .fc-time{
  display: none;
}
#map {
  height: 400px;
  margin: 20px 15px;
}
.footer {
  text-align: right;
  padding: 3px 10px;
  border-top: 1px solid #d9d9d9;
  margin: 0 0 0 200px;
  font-size: 13px;
  color: #666;
  font-weight: 600;
} 
.footer p {
  margin: 0;
}
.footer img {
  height: 35px;
}
.alert{
  position: fixed;
  z-index: 9;
  width: 225px;
  height: 56px;
  right: 20px;
  text-align: center;
  bottom: 0;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
.fa-spinner{
  position: absolute;
  right: 125px;
  color: #fff;
  top: 6px;
  font-size: 24px;
}
.prelative{
  position: relative;
}
[ng-cloak] {
  display: none;
}
.hide-menu,.hide-menu span,.side-nav span,.hide-menu .footer-side-nav ,.footer-side-nav  {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.3s;
  -webkit-transition: all all ease-in 0.5s ease-out;
  -moz-transition: all all ease-in 0.5s ease-out;
  -o-transition: all all ease-in 0.5s ease-out;
  transition: all all ease-in 0.5s ease-out;
}
.hide-menu,.hide-menu .footer-side-nav{
  width: 50px;
}
.hide-menu .footer-side-nav {
  padding: 0;
}
.hide-menu span,.hide-menu .left-toggle,.right-toggle {
  display: none!important;
}
.hide-menu .right-toggle {
  display: inline-block!important;
}
.error{
  color: #f00;
}
.fc-content, td.fc-day{
  cursor: pointer;
}
.align-ve{
  position: relative;
  left: 145px;
  top: -25px;
}
.issue {
  float: right;
  background: #941426;
  color: #eee;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}
.details-company{
  position: relative;
  left: 145px;
  font-size: 14px;
  font-weight: bold;
}
.mr15{
  margin-right: 15px;
}
.multi-drop{
  display: inline;
}
.send-notify{
  color: #000;
  right: 325px;
  top: 1px
}
.dropdown-menu.dropdown-menu-form{
  overflow-x: inherit !important;
}