<!DOCTYPE html>
<html>
  <head>
    <title>GlydelUs</title>
    <base href="/" >
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	  <!--/top-bar-->
  <div class="top-bar" ng-app="glydel" >
    <div class="logo">
      <a href="">Glydel</a>
    </div><!--/navbrand-->
    <ul class="pull-right list-inline right-nav">
      <li class="notify">
        <a href=""><i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <span class="badge">3</span> 
      </li>
      <li class="dropdown useraccountmenu">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" >
          <span class="avatar"><img src="images/user.png" alt=""></span>
          <span class="name">M subash</span>
        </a>
        
        <ul class="dropdown-menu extended">
          <div class="notify-arrow notify-arrow-green"></div>
          <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
          <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Manage Accounts</a></li>
          <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
        </ul>
        </li>
    </ul>
  </div><!--/top-bar-->
  <!--/top-bar ends-->

  <!--/side-nav starts here-->
  <div class="side-nav">
    
    <ul class="list-unstyled menu">
      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
      <li><a href=""><i class="fa fa-truck" aria-hidden="true"></i> Vehicles</a></li>
      <li><a href=""><i class="fa fa-calendar" aria-hidden="true"></i> Schedules</a></li>
      <li><a href=""><i class="fa fa-bug" aria-hidden="true"></i> Issues</a></li>
      <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>

    </ul><!--/invoice-menu-->
    <div class="footer-side-nav">
      <ul class="list-inline">
        <!-- <li>
          <a data-toggle="tooltip" data-placement="top" href="" title="Settings">
            <i class="fa fa-cogs"></i>
          </a>
        </li> -->
        <li>
          <a data-toggle="tooltip" data-placement="top" href="" title="Logout">
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a data-toggle="tooltip" data-placement="top" href="" title="Toggle navbar">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div><!--/footer-side-nav-->
  </div><!--/side-nav-->
  <!--/side-nav ends here-->
  <!--wrapper-content-->
  <div class="wrapper">
    <%= yield %>
  </div>
  </body>
</html>
