<div class="login-bk"></div>
<div class="overlay"></div>
<div class="white-box">
    <h2>Sign Up</h2>
    <form>
      <ul class="list-unstyled">
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-user"></span></div>
              <input type="text" placeholder="User name" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
              <input type="text" placeholder="Email" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
              <input type="text" placeholder="Mobile number" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-map-marker"></span></div>
              <input type="text" placeholder="Locality" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
              <input type="password" placeholder="password" />
            </div>
          </div>
        </li>
        <li>
          <input type="submit" value="Signup"> 
        </li>
        <li class="direction-link">
          Do you have an account? <a href="">Sign In</a>
        </li>
      </ul>
    </form>
  </div><!--/white-box-->

