<div class="login-bk"></div>
<div class="overlay"></div>
<div class="white-box">
    <h2>Sign Up</h2>
    <form>
      <ul class="list-unstyled">
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-user"></span></div>
              <input type="text" placeholder="User name" ng-model="user.first_name"/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
              <input type="text" placeholder="Email" ng-model="user.email"/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
              <input type="text" placeholder="Mobile number" ng-model="user.contact_number"/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-map-marker"></span></div>
              <input type="text" placeholder="Locality" ng-model="user.locality"/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
              <input type="password" placeholder="password" ng-model="user.password"/>
            </div>
          </div>
        </li>
        <li>
          <input type="button" value="Signup" ng-click="signup(user)"> 
        </li>
        <li class="direction-link">
          Do you have an account? <a href="/users/sign_in">Sign In</a>
        </li>
      </ul>
    </form>
  </div><!--/white-box-->

