<div class="login-bk"></div>
<div class="overlay"></div>
<div class="white-box" ng-controller="userController">
    <h2>Sign Up</h2>
    <form ng-enter="signup(user)">
      <ul class="list-unstyled">
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
              <input type="text" placeholder="Email" ng-model="user.email" required/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
              <input type="text" placeholder="Mobile number" ng-model="user.contact_number" required/>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
              <input type="password" placeholder="password" ng-model="user.password" required/>
            </div>
          </div>
        </li>
        <li class="prelative">
          <input type="button" value="Signup" ng-click="signup(user)"><span class="fa fa-spin" ng-class="{'fa-spinner' : signing }"> </span>
        </li>
        <li class="direction-link">
          Do you have an account? <a href="/users/sign_in">Sign In</a>
        </li>
      </ul>
    </form>
  </div><!--/white-box-->

